.inventory_title {
    margin: 3em 0em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    border: 4px solid black;
    padding: 2em
}

.form-img1 .form-img2 .form-img3 .form-img4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0em 5em;
}

#img-inventory1{
    flex-direction: row;
    width: 20em ;
    height: 15em;
    margin: 2em 5em 2em 6em;
    border: 2px solid black;
    border-radius: 10%;
}

#img-inventory2{
    flex-direction: row;
    width: 20em ;
    height: 15em;
    margin:  2em 5em 2em 6em;
    border: 2px solid black;
    border-radius: 10%;
}

#img-inventory3{
    flex-direction: row;
    width: 20em ;
    height: 15em;
    margin:  2em 5em 2em 6em;
    border: 2px solid black;
    border-radius: 10%;
}

#img-inventory4{
    flex-direction: row;
    width: 20em ;
    height: 15em;
    margin:  2em 5em 2em 6em;
    border: 2px solid black;
    border-radius: 10%;
}

.form-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 4em;
}
