.title {
    font-size: 20px;
    text-align-last: center;
    margin: 3em;
};
/* \find out why I permanently need this to make my buttons work(centered)... */
.item_orders {
    border: 3px solid red;
}

.container_home {
    display: flex;
    justify-content: space-evenly;
}

button {
    flex-wrap: wrap;
    font-size: 15px;
    border-radius: 15px;
    margin-top: 30em;
}

.background {
    background-image: url(https://media.architecturaldigest.com/photos/5727c593c8914cdb3ed26299/master/w_2580%2Cc_limit/AD-0616-NETTO-10.jpg);
    /* max-width: 536px; */
    max-height: 882px;
    padding: 0px;
}